<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${appName}">Application Name</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<div class="actions">
    <div th:if="${isAuthenticated}">
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="btn btn-delete">Logout</button>
        </form>
    </div>

    <div th:unless="${isAuthenticated}">
        <a th:href="@{/login}" class="btn btn-add">Login</a>
    </div>
</div>
</body>
</html>